# Tutorial 2: Basic Data Types in Python

Sections of this notebook come from several other tutorial notebooks including but not limited to the Python Documents at (https://docs.python.org/3/library/collections.html), the Geeks for Geels website (https://www.geeksforgeeks.org/python-data-types/). the Krittika Tutorials, and additional sources.

This tutorial was compiled for the PAARE project at South Carolina State University in partnership with Clemson University and the University of the Virgin Islands and funded by NSF. (NSF grant ASTÂ  2319415)

* Originally posted
  * JCash Dec 29, 2024
* Last modified:
  * JCash June 9, 2025

# 1.0) Overview

In any programming language, you will be working with data that the computer is using as it processes your command. The data might be numbers, characters, words, true/false values, or collections of data. As a first step in programming, you need to learn the difference between these types and how your programming language deals with each type. You also need to learn the specific syntax and assumptions the program will make when it deals with different data types.

In this tutorial, you will work through some simple examples of each data type. Read the text that goes with each section. In general, assume that you should work through the tutorial in the order presented to make sure everything is defined before it is used.

** Note: if you have no experience programming, and have not completed the first tutorial on Jupyter Notebooks, please go back and complete that before beginning this Notebook tutorial.

### 1.1) Imports needed

It is always best practice to import the needed packages at the very top of the Notebook. As a Notebook is developed, you can always add to or take away from that cell. 

The cell should always be run before any other cells in the notebook and right after any changes to the import lists are given.

In [ ]:
import numpy as np

### 1.2) Two useful functions

To get information on data, we can use two built-in functions that will work on a wide variety of data types. 

- `print()` returns the contents of the () to the standard output

- `type()` is used to let us know what the data type is for the quantity in the ()

Try these out for yourself on a few very basic items:

*Remember:* Lines that start with the `#` character are comments and are not executed with the code.
Using comments helps to explain what is happening in the code.

In [ ]:
type(1)

In [ ]:
print(1)

In [ ]:
type(1.0)

In [ ]:
#We will learn more about strings in section 2.2 below.
type('hello')

In [ ]:
print('hello')

In [ ]:
#type() can also tell you the result of a mathematical calculation{"."} 
type(1+2)

In [ ]:
#print() can do a calculation and tell you what the result is{"."} 
print(1+2)

**Combining the Commands**

You can combine the print and type commands together. 

When you print the type() of a value, notice that the output looks a little different. Instead of just telling you the type, it is a longer output with the data type enclosed in parenthesis with the class designation <class 'int'>.

In [ ]:
print(type(1))

If you have multiple print commands in the same cell, you will get outputs for each print statement in the order they were placed.

In [ ]:
print(1)
print('hello')

If you have multiple type commands in the same cell, only the final command will show up in the output.

In [ ]:
type(1)
type('hello')

This is where the combined print and type can really help.

In [ ]:
print(1)
print(type(1))
print('hello')
print(type('hello'))

**Multiple Prints and types**

In a print statement, you can include more than one thing to be printed by separating them with commas. 
You cannot find the type of more than one thing in the same command. 

But you can create a single print statement that checks more than one type.

In [ ]:
#This command works{"."}
print("hello", 1)

In [ ]:
#This command will give you a TypeError{"."}
type("hello",1)

In [ ]:
#This one works and makes the output make more sense{"."}
print("My number is:",1, "with a type of:", type(1))

# 2.0) Basic Data Types

## 2.1) Numbers

**Integers**

Integers are the same as mathematical integers (numbers with no decimal places). So values like 1, 2, 4, 9, 16, 25, etc are considered integers. 

**Float**

Numbers like 10.4, 2.39, .81, 1.96, etc. are all considered floats. 

Try out some of the examples below, and create your own cells to see for yourself.

In [ ]:
type(1)

In [ ]:
type(1.0)

In [ ]:
type(.5)

In [ ]:
type(1.)

In [ ]:
type(1+5)

In [ ]:
type(1.0+3.0)

If you have large or small values, they are expressed in python as floats by using an exponent notation as shown below.

In [2]:
print(1.23e4)
print(1.23e-4)

12300.0
0.000123

Below this cell, try some values on your own and see what types are. 

Maybe try combining int + float, and then float + int.

In [ ]:
# What happens if you add an integer and a float, what type do you get? 
# Add your code below to test it out{"."}

## 2.2) Strings

Strings are another form of data types. A String (str) is a set of characters pieced together to hold data. The len() function tells you how many characters are within a string. For example, the phrase "Hello World" is a string of 11 characters.  Even though the words "Hello" and "World" are both 5 characters each, strings count spaces as characters as well, thus "Hello World" has a length of 11 characters.

In [ ]:
print("Hello World")

In [ ]:
type("Hello World")

In [ ]:
len("Hello World")

In [ ]:
len("hello")

In [ ]:
len("My name is ...")

In the cell below, try out the `len()` and `type()` functions on your full name.

In [ ]:
#type your name and use the length and type functions

**Important** 

Precise syntax is very important when programming Strings. There is a distinct difference between double quotes `"  "` and single quotes`'  '`. Both can be used to create strings, but sometimes one is a bit easier than the other. 

Note(s) 

- The single quote character `'` is also called an apostrophe (found under the double quote mark on most keyboards).
- There is another similar character called the backtick ` which is not used in defining a string (found under the ~ on most keyboards).
- Be consistent when using `"  "` and `'  '`
  - A common mistake that can be made is coding strings starting with `"` and ending with `'` and vice versa.
  - Whichever quote mark you use to start a string should be used to end that string.
  - Some people prefer using `"  "` because they think of a String as a literal quote being said out loud.
  - Some people prefer using `' '` because they don't have to hit the shift key when typing.


Look at some examples below.

In [ ]:
print('this works') 
print("this works too")


Continued notes:
- If a string contains a single or double quote, use the other to enclose the string
  - A string that includes a contraction `'` would need to use double quotes `" "` on the outside
  - A string that includes a quote from other people would need to use single quotes `' '` on the outside

Look at some examples below.

In [ ]:
# Here you are including a contraction in the string{"."}
print("It's a great day")

In [ ]:
# Here you are including a quotation in the string{"."}
print('She said "Hello"')

The examples below will **not work** because the quotation marks inside the string match the outside marks, causing the string to be broken.

In [ ]:
#This one will give a SyntaxError{"."}
print('It's a great day')

In [ ]:
#This one also gives a SyntaxError{"."}
print("She said "Hello"")

**Complicated Strings**

If you have a complicated string that has both single and double quotes in the string, then you can use a backslash `\` to indicate the characters to use inside the string. 

In a python string the `\` character is used as an *escape* character to indicate that the character immediately after the `\` should be treated in a special way. 

- When using escape characters, it is typical to use the single quote marks on the outside
  - an apostrophe inside the string is then indicated with `\'`
  - a quotation within a quotation can be indicated with `\"`
  - the backslash itself can be included in a string using `\\`
  - the newline can be added to a string using `\n`

Look at some examples below.

In [ ]:
print('This string has both types of quotes \" It\'s fun to quote people\" ') 
print('This way, it\'s possible to print out \"quotes from other people\"')

In [ ]:
# Use this format to actually get a backslash in the string
print("This will insert one \\ (backslash).")

In [ ]:
# Here we use the special escape character for a newlline{remove 2nd "l"}
print('Hello World!\n It is a great day!')

**Data Science**

In data science, the ability to create strings with backslash `\` may be necessary for filepaths on some operating systems. In addition you may have a reason to use the `\n` when formatting documentation lines, creating a log string, or writing out results to a file.

## 2.3) Booleans

Boolean is a data type that has two possible outcomes: True or False. When establishing if something is True or False, case sensitivity matters. True and False must always be capitalized when coding. 

Look at the examples below.

In [ ]:
type(True)

In [ ]:
type(False)

In [ ]:
print(True) 
print(False)

**Be careful**

Capitalization matters with booleans. 

You must use True, not true, and False, not false.

The cell below shows an example of the error you would get with no capitalization.

In [ ]:
type(true)

## 2.4) NoneType

`NoneType` is a special data type in Python that only has one value: `None`. 

The None keyword is used to define a null value, or no value at all.

None is not the same as 0, False, or an empty string. Only `None` can be `NoneType`.

In [ ]:
type(None)

In future tutorials, you may see None if a function doesn't return a value or if a search comes up empty.

# 3.0) Operations

With operations in Python we are able to complete math operations on all kinds of data types (including Strings).

## 3.1) Basic operations with Numbers 

The simplest operations are addition, subtraction, multiplication, and division as shown in the cells below.

In [ ]:
#This is addition.
5+3

In [ ]:
#This is subtraction.
7-6

In [ ]:
#This is multiplication.
#Note: use an asterisk as the operation symbol, do not use an x for multiplication
9*2

In [ ]:
#This is division.
8/4

Here we will look at some additional operations such as exponential, remainders, and division rounds.

In [ ]:
# exponential operation: ** 
# The first number input is the base number, and the second number after the double asterisk is the exponential number{"."} 
# For example: 2 to the 3rd power is 8; see below.
2**3

In [ ]:
#Division floor: //
#This operation outputs how many times one number goes into another (with no remainder).
#For example: if you divide 18 into groups of 7, you can get two full groups.
18//7

In [ ]:
# Remainder operation: %
# This function outputs the remainder of an equation.
# For example: divide 18 by 7 has a remainder of 4.
18%7

## 3.2) Assignment operators

Python provides powerful tools for performing mathematical operations. In this section, we will explore basic arithmetic and more. Basic number operations work the same way as if you were to write them down or use them in math class, the only exception to this rule is the multiplication operation which is coded using an asterisk (*). 

See for more info:
https://www.w3schools.com/python/python_operators.asp

Naming variables is really easy. 

variable_name = variable value

Look at some examples below.

<font color="red" >**EXTREMELY IMPORTANT NOTE ** </font>

When declaring variables, make sure to not name your variable a predefined function name. The computer replace the predefined function with the variable. 

<font color="red" >** So do not use a statement such as**</font> <font color="green" > print = 3  </font>

If you do, print will no longer work as a function!!!!

A list of built-in functions for Python is available at:
https://docs.python.org/3/library/functions.html

In [ ]:
# Here you define the variable name x to be the value 3
x = 3
x

In [ ]:
# Here you define the variable name y to be the value 4
# It is generally considered easier to read if you leave a space on each side of the equal sign, but it is not required
y=4
y

You can then use the variable_name with the print functions and with operations.

In [ ]:
print(x)
print(y)

In [ ]:
k = x + y
k

Using print statements with assigned variables is a convenient way to create a very readable output.

In [ ]:
#Here we assign some variables and then use a print statement to show the results
year = 25
month = year*12
print(year," years is equal to ",month," months")

**Caution**

The order of assignment matters. In the example below, the variable `a` is assigned first and then the variable `b` is assigned using a calculation that references `a`.

If we then change the value assigned to `a`, it does not change the value in `b` automatically but keeps the value from when `b` was assigned.

In [ ]:
a = 1
print('a = ',a)
b = 3 + a
print('b = ',b)
a = 7
print('a = ',a)
print('b = ',b)

## 3.3) Comparison operators (Boolean)

Here we will talk about comparison operators. 
Comparison operators include equal to, less and less than or equal to, greater and greater than or equal to. 
The output for these functions is a True or False (boolean data type).

When using the equal to function, it needs to be two equal signs and not just one.

Remember; one equal sign is used to define a variable; two are used to determine whether or not one value is equal to another.

In [ ]:
5 == 6

In [ ]:
5 == 5

When using the inequality function, remember to put the function in the order that you would say it. 
For example, greater than or equal to: >=
See some examples below.

In [ ]:
6 > 7

In [ ]:
9 > 3

In [ ]:
6 >= 6

In [ ]:
6 >= 8

In [ ]:
3 <= 2

In [ ]:
3 >= 2

## 3.4) Operations on strings

Many different operations can be done outside of just numbers; operations can be done on strings as well (but not in the same capacity).

**Concatenation** is the function that allows you to combine two strings together using the '+' operator.

In [ ]:
str1 = "Hello" 
str2 = 'World' 
#had to define both strings into different variables 
result = str1 + " " + str2
result

Notice the space " " in the middle of the result code. 
This space is not always needed when adding two strings together to piece a sentence together. 
Look and see what happens when I add the two strings together without a space.

In [ ]:
result = str1 + str2
result

Repetition is another way that strings can be added to one another. 
You can use the * operator to repeat specific strings, but be careful when doing so. 
Look at some of the different ways below that strings can be repeated.

In [ ]:
#this{capitalize} method repeats the strings with no spaces. 
print("hello"*3)

#you{capitalize} can also use variables for the string and/or the number.
str3 = "hello"
number = 4
str4 = str3*number
print(str4)

**Disallowed operations**

There are some String operations that are not allowed in python like division and subtraction. See below what happens if I try to subract or divide a string using the operations.

In [ ]:
# This one will give a Type Error.
print(str1 - str2)

In [ ]:
# You still get a Type Error even if the second string is a part of the first string.
print(str4-str3)

In [ ]:
# This one will give a Type Error.
print(str4/number)

## 3.5) Operations between types

We have already seen that you can combine integers and floats in a single calculation and that you can use an integer to repeat a string.

But, understand that combining all data types will not always work. Uncomment some of the cells below and see what happens when you combine some data types and see what the type() function does.

In [ ]:
#This will give you a Type Error.
a = 1+'hello world'
print(a,type(a))

The above cell does not work because Python does not know how to convert string types to a numerical value. Thus, the combination of an integer and a string does not work, unless you convert the integer to a string.

In [ ]:
#this{capitalize} one works and gives an integer result.
a = True + 1
print(a,type(a))

The above cell does work because Booleans have a value of either 0 or 1. Therefore, we are able to combine integers with a boolean expression.

In [ ]:
#this{capitalize} one doesn't work and gives a TypeError.
a = True + 'Hello World'
print(a,type(a))

The above cell does not work because it is the same case as the first cell. Booleans have a value of 0 or 1, and strings have no numerical value assigned to it, so we are unable to combine a boolean expression with a string using addition. 

But the one below does work since a string can be multiplied by an integer.

In [ ]:
#This one does work and gives a string repeated once (since True has a value of 1).
a = 'Hello World'*True
print(a,type(a))

In [ ]:
#Here we see a boolean and a float.
a = False * 1.22222222222
print(a,type(a))

The above cell does work because Booleans have an assigned numerical value to them, and floats are numbers. So combining a Boolean with a float produces a float type piece of data.

# 4.0) Type Conversions

Type conversions are actually really easy once you get started. Follow along as we take you through int, flt, and str conversions. These can be done with values or with assigned variable names.

## 4.1) to String 

All of the types we have talked about so far can be converted to strings.

In [ ]:
# int to str 
str(5)

In [ ]:
# flt to str 
num = 42.0 
str(num)

In [ ]:
# bool to str 
str(True)

In [ ]:
a = 1
b = str(a)
print("variable a is of type: ",type(a))
print("variable b is of type: ",type(b))

## 4.2) to float

Integers and booleans can always be converted to floats.

Some strings can be converted to floats but only if the values in the string are all numbers.

In [ ]:
#int to flt
a = 36
b = float(a)
print("variable a is ",a," of type: ",type(a))
print("variable b is ",b," of type: ",type(b))

In [ ]:
#bool to flt
float(True)

In [ ]:
#bool to flt 
float(False)

In [ ]:
#str to flt
num = '36'
float(num)

In [ ]:
#str to flt
float('36.2')

In [ ]:
#str to float 
#This will give you a ValueError
float("hello")

The above cell does not work because strings that contain characters do not have an inherient numerical value.

## 4.3) to int 

Booleans easily go into integers. Floats that are converted to integers will lose the decimal information. 

Again, some strings can go into integers, but great care is needed.

In [ ]:
#flt to int
my_flt = 20.0
my_int = int(my_flt)
print("my float variable is ",my_flt," of type: ",type(my_flt))
print("my integer variable is ",my_int," of type: ",type(my_int))

In [ ]:
#flt to int
my_flt = 20.7
my_int = int(my_flt)
print("my float variable is ",my_flt," of type: ",type(my_flt))
print("my integer variable is ",my_int," of type: ",type(my_int))

In [ ]:
#bool to int 
my_bool = True
my_int = int(my_bool)
print('The boolean ',my_bool,' becomes ',my_int, 'with a type of ',type(my_int))

For strings, you can only directly convert strings which represent integers into integers. 

If you have a string which contains a decimal value, the conversion needs to have two steps. First convert the string into a float and then convert that float into an integer. This can be done in one line of code, but really has two steps.

In [ ]:
#str to int
int("42")

In [ ]:
#str to int
#This gives a ValueError
int("42.3")

In [ ]:
#str to int using float as a intermediate
int(float("42.3"))

## 4.4) to Bool

Numbers can also be converted into Booleans. 

The number zero will convert to a False value. This will happen if the zero value is an integer(0) or a float (0.0).

Any other number will convert to a True value.

In [ ]:
#int to bool
bool(0)

In [ ]:
bool(0.0)

In [ ]:
#int to bool
bool(1)

In [ ]:
# int to bool
bool(36)

In [ ]:
#float to bool 
bool(36.0)

In [ ]:
bool(-1)

In [ ]:
bool(0.0000000001)

Strings can also be converted to Boolean values, but not with the results you might expect. Try the examples below to see what happens.

In [ ]:
bool("True")

In [ ]:
bool("False")

In [ ]:
bool("Hello")

In [ ]:
bool("5")

In [ ]:
bool("0")

In [ ]:
bool("")

For strings, any non-empty string will convert to a True value.

Only empty strings given by "" will convert as False. 


While this may seems confusing, the conversion here is checking to see if the string contains anything (yes, then it is True) or (no, then it is False).

# 5.0) Numpy data types and functions



`numpy` the package we imported at the beginning of this tutorial has many different math functions. The name `numpy` is short for NumericalPython and is sometimes written as NumPy in documentation. Look at some examples below to see the power of NumPy. 

We start by showing you just a few functions so that we can explore the DataTypes associated with the results.

## 5.1) Common functions

Below are examples of a few commonly used numpy math functions that we will look at. 

- np.sqrt(num)  finds the square root of a number
- np.log10(num) find the base 10 logarithm of a number
- np.round(num) rounds a number off to the desired decimal point
- np.pi         represents the constant pi
- np.sin(angle) finds the trigonometric sine assuming the angle is in radians


A full list of the available functions can be found at:
https://numpy.org/doc/stable/reference/routines.math.html

In [ ]:
#This one gives the square root.
np.sqrt(25)

In [ ]:
#Here we use a variable and print statement. 
num=3
print("The square root of ",num, " is ", np.sqrt(num))

In [ ]:
#This is log base 10.
np.log10(1000)

In [ ]:
#this{capitalize} gives the constant pi.
print(np.pi)

In [ ]:
#Here we round some numbers, if a second number is given then it is the number of decimal places.
a = 2.4565
b = 2.5012
print(a,' rounds to ', np.round(a))
print(a,' rounds to ', np.round(a,2))
print(b,'rounds to ', np.round(b))
print(b,' rounds to ', np.round(b,2))

In [ ]:
#Here we use pi and the trig functions.
angle = np.pi / 6
print("angle: ", angle)
print("Sine: ", np.sin(angle)) 
print("Cosine: ", np.cos(angle))
print("Tangent: ", np.tan(angle))

## 5.2) NumPy data types

Using some of the math functions we saw above, we can now examine the DataTypes that result from some of these.



**numpy.float64**

In general, numpy will return a float data type. The data type may be listed as "numpy.float64" which is a float with higher decimal precision. 

**float**

Some things like the constant pi are stored as regular float values.

In [ ]:
#For the square root,
num=3
print("The square root of ",num, " is ", np.sqrt(num), "which has a type of ",type(np.sqrt(num)))

In [ ]:
#For the log base 10,
num = 3000
print("The log10 ",num, " is ", np.log10(num), "which has a type of ",type(np.log10(num)))

In [ ]:
# For rounding,
a = 2.4565
print(a,' rounds to ', np.round(a),'and has a type ',type(np.round(a,0)))

In [ ]:
#For pi,
print(np.pi, 'has a DataType of ',type(np.pi))

**np.nan** 

If a calculation encounters an invalid number (such as the sqrt or log base 10 of a negative number), numpy will give a warning instead of an error. 

The result will be set to a specific value called `np.nan` which stands for "Not a Number".

`np.nan` is considered to have a dataType of `numpy.float64` but the numpy functions treat it as a special case.

The advantage here is the remaining code is allowed to run but at the end, you see that your result was not a number.

In [ ]:
# For the square root of a negative number{"."}
num = -3
result = np.sqrt(num)
print("The square root of ",num, " is ", result)
print(result,' has a type ', type(result))

print(result+2)
print('done now')

**np.inf**

Similarly, there is a numpy representation of infinity and minus infinity if a calculation divides by zero. 

In the first cell below, you see how regular Python handles it and then how it is handled if you have numpy floats in the calculation.

In [ ]:
a = 4.0
b = a/0.0
print('result is ', b)

In [ ]:
a = np.sqrt(25)
b = a/0.0
print('result is ', b)
print(b,'has a DataType of ',type(b))


Ways to specify the data type for numpy operations, and how to convert between numpy data types, will be covered in future tutorials. 

A full description of NumPy data types is given at the documentation website:
https://numpy.org/doc/stable/user/basics.types.html

## 5.3)Documentation for numpy

You can use the python help() function to get more information on a particular numpy function (as demonstrated below). 

You can also find complete documentation of all numpy functions at:
<a href="https://numpy.org/doc/stable/reference/routines.math.html"> https://numpy.org/doc/stable/reference/routines.math.html </a>

In [ ]:
#Uncomment the line below by removing the # symbol in front and then executing the cell.

#help(np.sqrt)

# Assignment


To practice the concepts you learned in this tutorial, try the following exercises. Feel free to look back at the tutorial as you go.

## Excercise 1)

* Assign 1 number each to the variables "a" and "b"
* Predict the result of the following operations
  * Add a and b
  * Subtract a from b
  * Calculate (a+b)/b
  * Find the floor and remainder of that division
* Write the code lines to do these calculations
* Create a print statement for one of these calculations that includes text describing the calculation along with the result

In [ ]:
# Enter your code below

## Exercise 2) 

* Create a string variable with your name
* Create an integer variable with any value you want
* Convert the integer to a string
* Create a new string variable that concatenates the name and number into a single string

In [ ]:
# Enter your code below

## Exercise 3)

In Astronomy, we often work with spheres. Find the surface area of a sphere for a particular radius.
* Define a variable for the radius using a value of your choice
* Calculate the surface area of the star using the numpy pi constant and the numpy square function
* Create a nice print statement to output your radius and area

In [ ]:
#Enter your code below